@media screen and (max-width: 768px) {

    /*INDEX*/
    .banner .index_title {
        top: 90px;
        font-size: 70px !important;
    }

    .banner h2 {
        font-size: 170% !important;
    }

    /*HISTORIA*/
    .historia article {
        font-size: 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "p1"
            "p2"
            "p3"
            "p4";
    }

    /*GALERIA*/
    .carousel {
        display: none;
    }

    .galery__grid-container {
        display: grid;
        justify-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(9, auto);
        grid-template-areas:
            "title"
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6"
            "img7"
            "img8";
    }

    /*FOOTER*/
    footer {
        flex-direction: column;
        justify-items: center;
    }

    footer a {
        display: flex;
        justify-content: center;
    }

    .tripadvisor {
        width: 100px;
    }
}