<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--SEO meta tags-->
    <meta name="keywords" content="contacto restaurante italiano argentina comida italiana">
    <meta name="description" content="Contactate con Buona Fortuna">
    <!--Link css-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <!--Link font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buona Fortuna ~ Contacto</title>
</head>

<body class="spotted__bg">
    <!--Navbar y logo-->
    <header>
        <span class="logo__flex--container">
            <a href="../index.html"><img src="../assets/img/icon_logo.png" alt="logo" class="logo"></a>
        </span>
        <div class="container">
            <input type="checkbox" id="menu_bar">
            <label class="icon__menu--flexbox" for="menu_bar">
                <img src="../assets/img/icon_menu.png" alt="icon menu" class="icon_menu">
            </label>
            <nav class="navbar">
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menu</a>
                <a href="historia.html">Historia</a>
                <a href="galeria.html">Galeria</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>



    <main class="contacto__container">

        <h3>Contacto</h3>

        <!--Formulario-->
        <form action="" class="inputs__container">
            <input type="name" name="nombre_completo" placeholder="Nombre Completo" class="inputs inputs3" required>
            <input type="email" placeholder="E-mail" class="inputs inputs3" required>
            <input type="tel" placeholder="Telefono" class="inputs inputs3" required>
            <textarea name="comentario" class="inputs" cols="47" rows="10" placeholder="Mensaje" class="comentario"
                required></textarea>
            <input type="submit" name="enviar" value="Enviar" class="submit">
        </form>

        <!--Mapa-->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d64794.320941388854!2d-64.19523733691283!3d-31.404977362479503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329902eb0b2faf%3A0x4382bb478dc6e982!2sPlaza%20San%20Mart%C3%ADn!5e0!3m2!1ses!2sar!4v1643824843425!5m2!1ses!2sar"
            style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
    </main>

    <!--Whatsapp flotante-->
    <a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/img/whatsapp.png" alt="logo_whatsapp"
            class="logo_whatsapp"></a>

    <!--Footer-->
    <footer>
        <p>Buona Fortuna Visitá el mejor restaurante italiano del país, llevate una hermosa noche con los que más
            querés.</p>
        <span><a href="https://www.tripadvisor.com.ar/" target="_blank"><img src="../assets/img/tripadvisor_white.png"
                    alt="tripadvisor logo" class="tripadvisor"></a></span>
    </footer>

</body>

</html>