<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--SEO meta tags-->
    <meta name="keywords" content="historia restaurante italiano argentina comida italiana">
    <meta name="description" content="Historia de Buona Fortuna">
    <!--Link css-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <!--Link font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buona Fortuna ~ Historia</title>
</head>

<body class="spotted__bg">
    <!--Navbar y logo-->
    <header>
        <span class="logo__flex--container">
            <a href="../index.html"><img src="../assets/img/icon_logo.png" alt="logo" class="logo"></a>
        </span>
        <div class="container">
            <input type="checkbox" id="menu_bar">
            <label class="icon__menu--flexbox" for="menu_bar">
                <img src="../assets/img/icon_menu.png" alt="icon menu" class="icon_menu">
            </label>
            <nav class="navbar">
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menu</a>
                <a href="historia.html">Historia</a>
                <a href="galeria.html">Galeria</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>


    <main class="historia">

        <h3>Historia</h3>
        <!--Historia parrafos-->
        <article>
            <p class="p1">Buena Fortuna esta en Argentina desde 1945, somos un restaurante familiar donde
                se mantuvieron las costumbres de nuestros antepasados. El restaurante fue inciado por Leonardo Pacetti,
                fue un cocinero muy bueno y supo como llevar adelante su proyecto. Desde los comienzos a todo el mundo
                le
                llamo la atencion el lugar y admiraban nuestra calidad de platos y servicio.
            </p>
            <br>
            <p class="p2">El restaurante fue restaurado luego de un incendio que acabo con la mayoria de la construccion
                en el año 2007.
                Pudo recontruirse y empezar mejor que nunca. Ahora es uno de los restaurantes mas visitados de la
                Argentina y uno de los mejores
                restaurantes de Latinoamerica.
            </p>
        </article>
        <!--Imagen del restaurante-->
        <div>
            <img src="../assets/img/galeria/1.jpg" alt="restaurante de afuera">
        </div>
    </main>

    <!--Whatsapp flotante-->
    <a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/img/whatsapp.png" alt="logo_whatsapp"
            class="logo_whatsapp"></a>

    <!--Footer-->
    <footer>
        <p>Buona Fortuna Visitá el mejor restaurante italiano del país, llevate una hermosa noche con los que más
            querés.</p>
        <span><a href="https://www.tripadvisor.com.ar/" target="_blank"><img src="../assets/img/tripadvisor_white.png"
                    alt="tripadvisor logo" class="tripadvisor"></a></span>
    </footer>

</body>

</html>