<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--SEO meta tags-->
    <meta name="keywords" content="menu restaurante italiano argentina comida italiana">
    <meta name="description" content="Menu de Buona Fortuna">
    <!--Link css-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <!--Link font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buona Fortuna ~ Menu</title>
</head>

<body class="menu__bg">
    <!--Navbar y logo-->
    <header>
        <span class="logo__flex--container">
            <a href="../index.html"><img src="../assets/img/icon_logo.png" alt="logo" class="logo"></a>
        </span>
        <div class="container">
            <input type="checkbox" id="menu_bar">
            <label class="icon__menu--flexbox" for="menu_bar">
                <img src="../assets/img/icon_menu.png" alt="icon menu" class="icon_menu">
            </label>
            <nav class="navbar">
                <a href="../index.html">Inicio</a>
                <a href="menu.html">Menu</a>
                <a href="historia.html">Historia</a>
                <a href="galeria.html">Galeria</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div>
    </header>



    <main class="menu">
        <h3>Menu</h3>

        <h4>Entradas</h4>
        <!--Categoria-->
        <table>
            <tr>
                <td>Focaccia</td>
                <!--Item-->
                <td>200$</td>
                <!--Precio-->
            </tr>
            <tr>
                <td>Bruschetta</td>
                <td>340$</td>
            </tr>
            <tr>
                <td>Quesos</td>
                <td>240$</td>
            </tr>
        </table>

        <hr>

        <h4>Principales</h4>
        <table>
            <tr>
                <td>Spagetti</td>
                <td>500$</td>
            </tr>
            <tr>
                <td>Ravioles</td>
                <td>570$</td>
            </tr>
            <tr>
                <td>Pizza</td>
                <td>700$</td>
            </tr>
        </table>

        <hr>

        <h4>Bebidas no alcoholicas</h4>
        <table>
            <tr>
                <td>Agua mineral</td>
                <td>120$</td>
            </tr>
            <tr>
                <td>Limonada</td>
                <td>210$</td>
            </tr>
            <tr>
                <td>Jugo de frutas</td>
                <td>200$</td>
            </tr>
        </table>

        <hr>

        <h4>Postres</h4>
        <table>
            <tr>
                <td>Tiramisu</td>
                <td>300$</td>
            </tr>
            <tr>
                <td>Helado</td>
                <td>140$</td>
            </tr>
            <tr>
                <td>Italian ice</td>
                <td>320$</td>
            </tr>
        </table>
    </main>

    <!--Whatsapp flotante-->
    <a href="https://web.whatsapp.com/" target="_blank"><img src="../assets/img/whatsapp.png" alt="logo_whatsapp"
            class="logo_whatsapp"></a>

    <!--Footer-->
    <footer>
        <p>Buona Fortuna Visitá el mejor restaurante italiano del país, llevate una hermosa noche con los que más
            querés.</p>
        <span><a href="https://www.tripadvisor.com.ar/" target="_blank"><img src="../assets/img/tripadvisor_white.png"
                    alt="tripadvisor logo" class="tripadvisor"></a></span>
    </footer>

</body>

</html>